@font-face {
  font-family: 'Sentient';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/font/Sentient-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 400;
  font-style: italic;
  src: url('../assets/font/Sentient-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 200;
  font-style: normal;
  src: url('../assets/font/Sentient-Extralight.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 200;
  font-style: italic;
  src: url('../assets/font/Sentient-ExtralightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/font/Sentient-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 300;
  font-style: italic;
  src: url('../assets/font/Sentient-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/font/Sentient-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 500;
  font-style: italic;
  src: url('../assets/font/Sentient-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/font/Sentient-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Sentient';
  font-weight: 700;
  font-style: italic;
  src: url('../assets/font/Sentient-BoldItalic.otf') format('opentype');
}
