@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color1: #ff6f61;
  --color2: #6b5b95;
}
::-webkit-scrollbar {
  width: 6px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
}
::-webkit-scrollbar-track {
  width: 6px;
  background-color: #fff;
}
.banner-bg {
  @apply bg-cover bg-center;
}
/* .gradient-border {
  border: 25px solid transparent; 
  border-image-source: linear-gradient(
    to top,
    rgba(210, 90, 38, 1),
    rgba(255, 255, 255, 1)
  );
  border-image-slice: 1;
} */

/* .text-stroke::first-letter */
